@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
body{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    
}
.profile-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #F2E3DB;
    box-shadow: 2px 3px 5px olive;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    
}
.profile-card::before{
    content: '';
    position: absolute;
    height: 39%;
    width: 100%;
    background-color: olivedrab;
    top: 0;
    border-radius: 30px 30px 0px 0px;
}
.image{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    background-color: olivedrab;
    padding: 5px;
    margin-bottom: 10px;
    
}
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px double whitesmoke;
}

.profile-card .text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text-area .name{
    font-size: 20px;
    font-weight: 700;
}
.text-area .job{
    font-size: 15px;
    font-weight: 200;
}
.profile-card .media-icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.media-icons .icons{
    margin: 3px 7px;
    background-color: olivedrab;
    width: 35px;
    height: 35px;
    color: #F2E3DB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    border-radius: 50%;

}
.profile-card .buttons{
     display: flex;
     align-items: center;
     justify-content: center;
}
.buttons .button{
    color: #F2E3DB;
    background-color: olivedrab;
    padding: 7px 15px;
    border-radius: 30px;
    border: none;
    margin: 15px 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 4px 4px olive;
    transition: all 0.5 ease-in;
}

.buttons .button:hover{
    background-color: rgb(194, 194, 28);
    color: black;
}

.profile-card .analytics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.analytics .datas{
    display: flex;
    justify-content: center;
    padding: 3px 15px;
    color: rgb(74, 71, 71);
    border-right: 2px solid grey;
}   
.datas:last-child{
    border-right: none;
}